.App {
  display: flex;
  padding: 2em;
}

.App-header {
  display: flex;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Logo-container {
  width: 33.33%;
}

.App-logo {
  width: 100%;
}

.App-content {
  width: 73.33%;
  margin-top: 4em;
  padding-left: 5em;
}